body {
  background: #efefef;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

p {
  word-break: break-all;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  word-break: break-all;
}

li:hover {
  background: #adc6ff;
}